<div class="col-xs-12 text-left timer-form">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="Timer" class="col-xs-8 control-label"> Pomodoro Time (Minutes) </label>
      <div class="col-xs-4">
        <input type="number" class="form-control" id="pomodoroTime" placeholder="25" min="5" max="60">
      </div>
    </div>
    <div class="form-group">
      <label for="Pomodori" class="col-xs-8 control-label">Number of Pomodori</label>
      <div class="col-xs-4">
        <input type="number"  class="form-control" id="pomodori" placeholder="1" min="1">
      </div>
    </div>
    <div class="form-group">
      <label for="Break Time" class="col-xs-8 control-label">Break Time (Minutes)</label>
      <div class="col-xs-4">
        <input type="number"  class="form-control" id="breakTime" placeholder="5" min="5" max="60">
      </div>
    </div>
    <div class="form-group">
      <label for="Break Time Extended" class="col-xs-8 control-label">Break Time Extended (Minutes)</label>
      <div class="col-xs-4">
        <input type="number"  class="form-control" id="breakTimeExtended" placeholder="5" min="5" max="60">
      </div>
    </div>
    <div class="col-xs-12">
      <button type="submit" class="btn btn-default" ng-click="setupTimer()"> Set Time </button>
    </div>
  </form>
</div>